 @charset 'utf-8';

    .sidebar{
      width: 100px;
      left:740px;
      top: 100px;
      position: fixed;       
    }
    @media screen and (min-width:900px){
      .sidebar{
      left:900px;
      }
    }
    @media screen and (max-width:900px) and (min-width:700px){
      .sidebar{
        left:760px;
      }
    }
    @media screen and (max-width:700px) and (min-width:500px){
      .sidebar{
        left:580px;
      }
    }
    @media screen and (max-width:480px){
      .sidebar{
        display: none;
      }
    }

    .sidebar li a{
      color:#044e97;
      display: block;
   
      font-size: 14px;
      font-weight: bold;
    
      line-height: 50px;
      text-decoration: none;
      text-align: center;
    }

    .sidebar li a:hover,
    .sidebar li a.currentx{
      color:#FFF;
      background-color:#0088bb; 
    }